#title{
 color:orange;
 text-align:center;
 font-size:100px;
}
h6 { 
font-size:100px;
}
input { 
size:100px;
}
#form { 
    size:100px;
    border:100px solid black;
    text-align:center;
    background-color:black;
    
    color:white;
    padding:20px 20px 20px 20px;
    padding-right:200px;
    
    margin-left:300px;
    margin-right:2000px;
    margin-top:500px;
}
#btn{
    color:white;
    background-color:green;
}
html { 
    background:url("https://cdn.pixabay.com/photo/2020/11/09/22/27/garlic-5728008__480.jpg");
    background-size:cover;
}
#button { 
    text-decoration:none;
    font-size:20px;
    background-color:purple;
    color:white;
}
#form input[type="text"]:focus,input[type="password"]:focus{ 
    border:1px solid black;
    border-radius:20px;
}

